
<!--<div style="background-color:green;">-->
  <!--this is not the content you're looking for-->
<!--</div>-->

<div style="display: flex;flex-direction: row;">
  <div style="background-color:brown;flex: 1 0 0;" #content>
    the menu should show up on the right side of this #content area
    <button
      style="background-color:blue;"
      type="button"
      mat-button
      (click)="open1()">
      toggle
    </button>
  </div>
  <div style="flex: 2 0 0; background-color:blue; height:100%;">
    some other div stuff
    <button
      style="background-color:pink;"
      type="button"
      mat-button
      (click)="open2()">
      toggle
    </button>
  </div>
</div>
