

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
&.dark-backdrop {
   //background: #000;
   //opacity: 0.65 !important;
   //width: 500px;
 }
}

.dialog-panel {
  height: 100%;
  width: 200px;
  background: orange;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}
